#intro1{
    color: white;
    background: palevioletred;
}
#intro2{
    color:white;
    background: purple;
}
#intro3{
    background: blueviolet;
    color: white;
}
#bookGallery{
    background: #272727;
}