html {
  font-family: 'Open Sans', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  /*border-radius: 0px !important;*/
}

.litlister-remove-focus-outline,
.litlister-remove-focus-outline:active:focus,
.litlister-remove-focus-outline:focus {
  outline: none !important;
  box-shadow: none;
}
